#title {
    text-align: center;
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 5%;
    background-color: goldenrod;
}

#content {
    background-color: goldenrod;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 20%;
    margin-bottom: 40%;
    text-align: center;
}

#table,th{
    border: 1px solid black;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 40;
    width: 100%;
    
}

#bottomLeftButton{
    position: absolute;
    right: 2%;
    bottom: 2%;
}